[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "<2.0.0"

[packages]
Flask = "*"
gevent = "*"
netifaces = "*"
psutil = "*"
zerorpc = "*"
macdash = {editable = true,path = "."}
unittest2 = "*"
ansicolors = "*"
cython = "*"
cython-setuptools = "*"

[requires]
python_version = "2.7"
